*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.one{
    width: 24%;
    height: 300px;
    background-color: tomato;
    color: #FFF;
}
.one h2{
    line-height: 300px;
    text-align: center ;
}